.shopcategory-banner {
  width: 80%;
  margin: 20px auto;
  display: block;
}
.shopcategory-indexsort {
  display: flex;
  margin: 0px 140px;
  justify-content: space-between;
  align-items: center;
}

.shopcategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}

.shopcategory-indexsort p span {
  font-weight: 600;
}
.sortcategory-products {
  margin: 20px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 10px;
}

.shopcategory-loadmore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 120px auto;
  width: 223px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .shopcategory-banner {
    margin: 20px auto;
    width: 90%;
  }
  .shopcategory-indexsort {
    width: 90%;
    margin: auto;
  }
  .shopcategory-sort {
    padding: 5px 10px;
    font-size: 12px;
  }

  .shopcategory-indexsort p {
    font-size: 12px;
  }

  .shopcategory-products {
    width: 90%;
    margin: 10px auto;
    row-gap: 40px;
  }

  .sortcategory-products .items {
    margin: auto;
  }
  .shopcategory-loadmore {
    margin: 100px auto;
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .shopcategory-banner {
    width: 95%;
  }

  .shopcategory-products {
    margin: 0px auto;
    width: 95%;
  }
  .shopcategory-loadmore {
    width: 150px;
    margin: 60px auto;
    height: 40px;
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .sortcategory-products {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    margin: 0px auto;
  }
}
