.productdisplay {
  display: flex;
  margin: 0px 90px;
  gap: 40px;
}

.productdisplay-left {
  display: flex;
  gap: 12px;
}

.productdisplay-img-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.productdisplay-img-list img {
  height: 113px;
}

.productdisplay-main-img {
  width: 400px;
  height: 500px;
}

.productdisplay-right h1 {
  color: #3d3d3d;
  font-size: 28px;
  font-weight: 700;
}

.productdisplay-right-stars {
  display: flex;
  align-items: center;
  margin-top: 18px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 14px;
}

.productdisplay-right-prices {
  display: flex;
  margin: 24px 0;
  gap: 16px;
  font-size: 24px;
  font-weight: 700;
}

.productdisplay-right-price-old {
  color: #818181;
  text-decoration: line-through;
}
.productdisplay-right-price-new {
  color: #ff4141;
}

.productdisplay-right-sizes {
  display: flex;
  margin: 24px 0px;
  gap: 16px;
}
.productdisplay-right-sizes div {
  padding: 12px 18px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}

.productdisplay-right button {
  padding: 20px 40px;
  width: 200px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #ff4141;
  margin-bottom: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.productdisplay-right-category {
  margin-top: 10px;
}

.productdisplay-right-category span {
  font-weight: 600;
}
